{{ $a := .Get "a" | default "" }}
{{ $c := .Get "c" | default "" }}
{{ $imgName := printf "%s.jpg" $a }}
{{ $img := resources.Get (printf "icons/%s" $imgName) }}

<!-- animate-fly-in-from-left -->
<div class="fly-in-left flex justify-start items-start gap-2 px-2 py-4 relative">
  {{ if $img }}
    <img class="w-14 h-14 rounded-full shadow-lg -mr-4 z-10" src="{{ $img.Permalink }}" alt="{{ $a }}">
  {{ else }}
    <img class="w-14 h-14 rounded-full shadow-lg -mr-4 z-10" src="/icons/blank.jpg" alt="Blank">
  {{ end }}

  <div class="flex flex-col gap-1 max-w-[calc(100%-3.5rem)]">
    <div class="flex items-center space-x-2 rtl:space-x-reverse">
      <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ $a }} {{ $c }}</span>
    </div>
    <div class="border border-solid border-2 leading-1.5 p-4 bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-white rounded-lg shadow-lg rounded-e-xl rounded-es-xl">
      <p class="font-normal">{{ .Inner | markdownify }}</p>
    </div>
  </div>
</div>
