{{ define "main" }}


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2557957536703477"
     crossorigin="anonymous"></script>
<!-- horiz -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2557957536703477"
     data-ad-slot="7902990808"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>



<section class="container mx-auto py-8">

  {{ partial "bread.html" . }}


    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="p-4">
        <h1 class="text-4xl dark:text-white font-bold mb-4">{{ .Title }}</h1>
        <p class="text-lg dark:text-gray-200">
          {{ .Description | safeHTML }}
        </p>
      </div>
      {{ if .Params.youtube }}

      <div class="m-4">
        <div class="aspect-video m-4 p-4">
          <iframe 
            loading="lazy"
            class="w-full h-full rounded-lg"
            src="https://www.youtube.com/embed/{{ .Params.youtube }}?autoplay=1&mute=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>

        {{ else }}
          <img loading="lazy" src="{{ .Params.image }}" class="rounded-lg shadow-lg m-4"> 
        {{ end }}
      </div>

      {{ $paginator := .Paginate .Pages }}


      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 p-5">
        {{ range .Params.proofs }}
          <div class="ani hover:bg-sky-200 dark:bg-gray-800 bg-white rounded-lg overflow-hidden shadow-lg transition-shadow duration-200">
            <a href="{{ .url }}">
                <div class="aspect-[16/9] w-full overflow-hidden">
                  <img loading="lazy" src="{{ .img }}" alt="{{ .title }}" class="w-full h-full object-cover hover:scale-110">
                </div>
              <div class="p-4">
                <h3 class="leading-4 text-lg font-semibold text-gray-800 dark:text-white hover:text-blue-600">
                  {{ .title }}
                </h3>
                <p class="text-sm leading-3 text-gray-800 dark:text-gray-200 py-2">{{ .sub }}</p>
                <span style="background-color: {{ .color }}" class="text-white text-xs px-2.5 py-0.5 rounded-lg">{{ .cat }}</span>
              </div>
            </a>
          </div>
        {{ end }}
      </div>


      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 p-5">
        {{ range $paginator.Pages }}
        
          {{ if .Params.a }}
            {{ partial "card-ava.html" . }}
          {{ else if .Params.image }}
            {{ partial "card-img.html" . }}  
          {{ else }}
            {{ partial "card-none.html" . }}
          {{ end }}

        {{ end }}
      </div>

      <div class="flex flex-row justify-center items-center">
        {{ template "_internal/pagination.html" . }}
      </div>



</section>

{{ end }}
