<div class="px-6 mx-4">
  <div class="flex flex-wrap justify-between my-2">
    {{ with .NextInSection }}
      <div class="hover:scale-110 inline-flex items-center gap-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700 text-sm py-1 px-2">
        <a href="{{ .Permalink | relURL }}" class="flex items-center gap-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-700 text-inherit no-underline">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="teal" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-teal"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
          <span class="hover:text-gray-700 dark:text-white break-words">{{ .Title }}</span>
         </a>
      </div>

    {{ end }}



    {{ with .PrevInSection }}
      <div class="hover:scale-110 inline-flex items-center gap-2 my-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700 text-sm py-1 px-2">
        <a href="{{ .Permalink | relURL }}" class="flex items-center gap-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-700 text-inherit no-underline">              
          <span class="hover:text-gray-700 break-words dark:text-white">{{ .Title }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="teal" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
         </a>
      </div>

    {{ end }}
  </div>
</div>