<section class="" id="contact">
  <div class="px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
    <div class="mb-4">
      <div class="mb-6 text-center sm:text-center md:mx-auto md:mb-12">
          <p class="text-base font-semibold uppercase tracking-wide text-green-600 dark:text-green-200">
             Any Comments? Post them below!
          </p>
      </div>
    </div>

    
    <form class="w-full" id="contact" action="https://usebasin.com/f/2468cfc045f0" method="post" target="_blank">    
    <!-- <form class="w-full" id="contact" action="https://hub.pantrypoints.com/api/email" method="post" target="_blank"> -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 items-center">
            <div class="mx-0 mb-1 sm:mb-4">
              <label for="name" class="pb-1 text-xs uppercase tracking-wider"></label>
              <input type="text" id="name" autocomplete="given-name" placeholder="Your name" class="dark:bg-gray-800 mb-2 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0" name="email[name]">
            </div>
            <div class="mx-0 mb-1 sm:mb-4">
              <label for="email" class="pb-1 text-xs uppercase tracking-wider"></label>
              <input type="email" id="email" autocomplete="email" placeholder="Your email (optional)" class="mb-2 w-full rounded-md dark:bg-gray-800 border border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0" name="email[email]">
            </div>
            <div class="mx-0 mb-1 sm:mb-4">
              <label for="email" class="pb-1 text-xs uppercase tracking-wider"></label>
              <input type="text" id="avatar" placeholder="Your Avatar URL (optional)" class="mb-2 w-full dark:bg-gray-800 rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0" name="email[avatar]">
            </div>            

<!--                   add :phone, :text
      add :country, :text
      add :city, :text
 -->
        </div>
        <div class="mx-0 mb-1 sm:mb-4">
          <label for="textarea" class="pb-1 text-xs uppercase tracking-wider"></label>
          <textarea id="textarea" name="email[content]" cols="30" rows="5" placeholder="Write your comment..." class="mb-2 dark:bg-gray-800 w-full rounded-md border border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0"></textarea>
        </div>

        <input name="email[address]" id="source" type="hidden" value="{{ .Permalink }}" class="p-2">                        
        <div class="text-center mb-5">
          <button type="submit" class="w-full hover:bg-green-600 bg-green-800 text-white px-6 py-3 font-xl rounded-md sm:mb-0">Submit Comment</button>
        </div>
    </form>

    