<form class="w-full max-w-sm" id="contact" action="https://usebasin.com/f/2468cfc045f0" method="post" target="_blank">
  <div class="flex items-center border-b border-teal-500 py-2">
    <input type="email" id="email" autocomplete="email" placeholder="Your email" class="appearance-none bg-opacity-50  w-full rounded-lg text-gray-700 text-black dark:bg-gray-100 bg-white mr-3 py-1 px-2 leading-tight focus:outline-none" name="email[email]">
    <input
      type="hidden"
      name="page_url"
      id="page_url"
      value="{{ .Permalink }}"
    />
    <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
      Submit
    </button>
  </div>
</form>

